.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 0.5rem 1rem;
}

.navbar-logo img {
  height: 40px;
}

.navbar-links {
  display: flex;
}

.navbar-button {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar-button:hover {
  background-color: #555;
}
